
.icon-emo-displeased:before { content: '\e800'; } /* '' */
.icon-emo-unhappy:before { content: '\e801'; } /* '' */
.icon-emo-happy:before { content: '\e802'; } /* '' */
.icon-emo-grin:before { content: '\e803'; } /* '' */
.icon-emo-cry:before { content: '\e804'; } /* '' */