.spaced-single {
    margin-bottom: 20px;
	padding-top: 10%;
	padding-bottom: 10%;
}

.spaced-double {
    margin-bottom: 60px;
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

.spaced-double img {
	height: 100%;
	width: 80%;
}

#painRange {
	height: 75px;
}

#mood {
	text-align: center;
	font-size: 175px;
	margin-top: 50px;
}

#moodDesc {
	text-align: center;
	font-size: 35px;
	margin-bottom: 50px;
}

#logButton {
	bottom: 5%;
	margin-bottom: 5%;
}

.app {
	height: 100vh;
	background: #EEEEEE;
}