body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.app {
    height: 100vh;
    background: #eee;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

#painRange {
    height: 75px;
}

#mood {
    display: flex;
    text-align: center;
    font-size: 3em;
    border: solid 0.107em #333;
    border-radius: 50%;
    width: 1.75em;
    height: 1.75em;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0 auto;
}

#moodDesc {
    text-align: center;
    font-size: 2em;
}

#logButton {
    margin-bottom: 10px;
}
