.spaced-single {
    margin-bottom: 20px;
	padding-top: 10%;
	padding-bottom: 10%;
}

.spaced-double {
    margin-bottom: 40px;
	text-align: center;
}

#mood {
	text-align: center;
	font-size: 175px;
	margin-top: 50px;
}

#moodDesc {
	text-align: center;
	font-size: 35px;
	margin-bottom: 50px;
}

#logButton {
	bottom: 5%;
}

.app {
	height: 100vh;
	background: #F0FFFF; /* For browsers that do not support gradients */
    	background: -webkit-linear-gradient(#F0FFFF, #4DA6FF); /* For Safari 5.1 to 6.0 */
    	background: -o-linear-gradient(#F0FFFF, #4DA6FF); /* For Opera 11.1 to 12.0 */
    	background: -moz-linear-gradient(#F0FFFF, #4DA6FF); /* For Firefox 3.6 to 15 */
    	background: linear-gradient(#F0FFFF, #4DA6FF); /* Standard syntax */
}