.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.spaced-single {
    margin-bottom: 20px;
}

.spaced-double {
    margin-bottom: 40px;
}
